@model CodeNoteDto

    <form asp-action="@ViewBag.Action" enctype="multipart/form-data"
          data-ajax="true" data-ajax-method="POST"
          data-ajax-success="OnFormSuccess">

        @if(ViewBag.Categories.Count > 0)
        {
            <div class="form-group row mb-3">
                <label class="col-form-label col-lg-2">Kategori Seçiniz</label>
                <div class="col-sm-10">
                <select class="form-control form-control-select2" name="CodeCategoryId" data-fouc>
                        <optgroup label="Kategoriler">
                            <option value="-1" selected>Seçiniz</option>
                            @foreach (var c in ViewBag.Categories)
                            {
                                if(Model != null && Model.Id > 0){
                                    <!option value="@c.Id" @Html.Raw(c.Id == Model.CodeCategoryId ? "selected" : "")>@c.Title</!option>
                                }
                                else{
                                    <option value="@c.Id">@c.Title</option>
                                }
                            }
                        </optgroup>
                    </select>
                </div>
            </div>
        }
        else{
            <div>Veri eklenemez önce kategori ekle yada pasif ise aktif et</div>
        }

        @Html.Raw(formHelper.InputTextRow("Başlık", Model.Title, "Title"))
        @Html.Raw(formHelper.InputTextRow("Özet", Model.Summary, "Summary"))
        @Html.Raw(formHelper.TextAreaTextRow("Açıklama", Model.Description, "Description", id:"DescriptionEditor"))
        @Html.Raw(formHelper.TextAreaTextRow("Kod", Model.Code, "Code", id:"CodeEditor"))
        

        <input asp-for="UserId" value="@User.GetUserId()" type="hidden" />
        @if (Model != null && Model.Id > 0)
        {
            <input asp-for="Id" type="hidden" />
            @Html.Raw(formHelper.UpdateButtonRow("Güncelle"))
        }
        else
        {
            @Html.Raw(formHelper.SubmitButtonRow("Ekle"))
        }

    </form>

            